
/* pagination styles */
        .cust-paginate{
            text-align: center;    
            background: #eee;
            padding: 1rem 0.5rem;
        }
        .cust-page-numbers, .cust-paginate span.dots {
            display: inline-block;
            padding: 7px 10px;
            margin: 0 2px 0 0;
            border: 1px solid #eee;
            line-height: 1;
            text-decoration: none;
            border-radius: 2px;
            font-weight: 600;

        }
        .cust-page-numbers.current,
        .cust-paginate a.cust-page-numbers:hover {
            color: #fff;
            display: inline-block;
            background-color: #00b9eb;
        }
        .cust-paginate a.cust-page-numbers{
            box-shadow: none;
            border: 1px solid;
        }
        .choose-show{
            height:33px;
        }
        .cust-paginate .jump-text{
            width: 80px;
            height: 33px;
            display: inline-block;
        }
        .cust-paginate .lblJump{
            margin-top: 15px;
        }

/* !pagination styles */